#header #logo {
  background-size: cover;
  background-position: center center;

}

@keyframes cursor {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#header #title ::after{
  content: "";

  display: inline-block;
  width: 10px;
  height: 1.2rem;
  border-radius: 1px;

  background-color: #2bbc8a;

  margin-left: 3px;

  animation: cursor 1s infinite;
}

.project-list .project-item:not(:nth-last-child(1)){
  display: block;
  border-bottom: 3px dotted #ccc;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
